.btn {
    text-align: center;
    color: $color-white;
    font-weight: $font-weight-medium;
    cursor: pointer;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(to right, $color-primary-lime-green, $color-primary-light-cyan);
    background-size: 200% auto;
    border-radius: 30px;
    border: none;
    width: 20rem;
    transition: 1s all;

    &:hover {
        background-image: linear-gradient(to left, $color-primary-lime-green, $color-primary-light-cyan);
    }
}
