.header {
    z-index: 99;
    position: fixed;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 3rem 15rem 0 15rem;
    font-size: $font-size-main;
    background-color: $color-white;
    align-items: baseline;
}
