.heading {
    &--biggest {
        font-size: $font-size-huge;
    }
    &--big {
        font-size: $font-size-very-big;
    }
    &--medium {
        font-size: $font-size-big;
    }
    &--small {
        font-size: $font-size-small;
    }
}
