$font-size-huge: 2.3rem;
$font-size-very-big: 2rem;
$font-size-big: 1.8rem;
$font-size-main: 1.6rem;
$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;
$font-size-very-small: 1rem;

$font-weight-very-heavy: 900;
$font-weight-heavy: 700;
$font-weight-medium: 500;
$font-weight-light: 400;
$font-weight-very-light: 300;

$border-radius-small: 0.4rem;
$border-radius-medium: 0.8rem;
$border-radius-big: 2rem;

$margin-bottom-small: 0.8rem;
$margin-bottom-medium: 2rem;
$margin-bottom-big: 4rem;
$margin-bottom-huge: 10rem;

$color-primary-dark-blue: hsl(233, 26%, 24%);
$color-primary-lime-green: hsl(136, 65%, 51%);
$color-primary-light-cyan: hsl(192, 70%, 51%);

$color-neutral-grayish-blue: hsl(233, 8%, 62%);
$color-neutral-light-grayish-blue: hsl(220, 16%, 96%);
$color-neutral-very-light-gray: hsl(0, 0%, 98%);

$color-white: #ffffff;
$color-black: black;
